body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

select {
    height: 40px;
    width: 99%;
}

.botoes {
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #FF5733;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.Salvar {
    background-color: #4CAF50;
}

.Alterar {
    background-color: #FFD700;
}

.Limpar {
    background-color: #FF5733;
}

table {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(23, 10, 73, 0.1);
    border: none;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #4CAF50;
    color: #fff;
}

.selecionado {
    background-color: #f4f4f4;
}
